# Anthropic Claude API
ANTHROPIC_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# SendGrid
SENDGRID_API_KEY=
FROM_EMAIL=kikuya@blinkjapan.co.jp
FROM_NAME=Blink Japan Co., Ltd.
